<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="NUnit" version="3.12.0" targetFramework="net40" />
  <package id="NUnit3TestAdapter" version="3.15.1" targetFramework="net40" />
  <package id="Selenium.Firefox.WebDriver" version="0.22.0" targetFramework="net40" />
  <package id="Selenium.WebDriver" version="3.141.0" targetFramework="net40" />
  <package id="Selenium.WebDriver.ChromeDriver" version="2.42.0.1" targetFramework="net40" />
  <package id="Selenium.WebDriver.IEDriver" version="3.14.0" targetFramework="net40" />
  <package id="Selenium.WebDriver.MicrosoftWebDriver" version="10.0.17134" targetFramework="net40" />
</packages>